<h2 mat-dialog-title>Add Event</h2>
<mat-dialog-content fxLayout="column" [formGroup]="form" novalidate>
  <mat-form-field>
    <mat-label>Name event</mat-label>
    <input autocomplete="off" matInput placeholder="Ex. Linkin park concert" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Place</mat-label>
    <input autocomplete="off" matInput placeholder="Ex. Brussels" formControlName="place" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input autocomplete="off" matInput placeholder="Ex. http://myImage.com" formControlName="picture">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. I love this concert" formControlName="description"
      style="min-height: 150px; max-height: 200px;" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <input type="text"
           placeholder="Pick one event type"
           matInput
           formControlName="type"
           [matAutocomplete]="auto"
           required>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <!--<mat-option *ngFor="let option of eventTypeFilter:?" [value]="option">-->
        {{option.type}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div fxLayout="row">
    <mat-label class="carLabel" fxFlex=50>Car available: </mat-label>
    <mat-radio-group class="radiogroup" fxFlex=50 formControlName="carAvailable">
      <mat-radio-button [value]=true>Yes </mat-radio-button>
      <mat-radio-button [value]=false>No </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>

<!--<p>Form value: {{form.value | json}}</p>-->

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="publishEvent()">Publish Event</button>
</mat-dialog-actions>
