<div class="chat">
  <div class="mat-elevation-z4 chat-content" fxLayout="row">
    <div fxFlex="30%" fxFlex.sm="40%" fxFlex.xs="45%" class="conversation-list">
      <app-conversation-list></app-conversation-list>
    </div>
    <div fxFlex="70%" fxFlex.sm="60%" fxFlex.xs="55%" class="conversation-messages">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--
<mat-card-title style="text-align:center;">Chat</mat-card-title>
  <mat-card-content>
    <input matInput type="text" placeholder="message" #messageToSend />
    <button mat-raised-button color="primary" class="send-button" (click)="onSendMessage(messageToSend.value)">
      Send Message
    </button>
  </mat-card-content>
</mat-card>

<h2>Received messages</h2>
<ol>
  <li *ngFor="let message of data">
    Message received from: {{message.senderName}} -- {{message.content}}
  </li>
</ol>
-->
