mat-dialog-content {
  //background-color: yellowgreen;
  margin: 0;
  padding: 0;
  width: 300px;
  min-width: 300px;
}

mat-dialog-actions {
  //background-color: papayawhip;
  justify-content: flex-end;
}
