
mat-dialog-content {
  //background-color: yellowgreen;
  margin: 0;
  padding: 0;
  width: 250px;
  min-width: 250px;
}

mat-form-field {
  width: 100%;
  display: block;
  //margin: auto;
  //background-color: aqua;
}

.radiogroup{
  display: flex;
  justify-content: flex-end;
  //background-color: palevioletred;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carLabel{
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-radio-button{
  padding-right: 10px;
}

mat-dialog-actions {
  //background-color: papayawhip;
  justify-content: flex-end;
}
