.card{
  margin: 7px;
}

.myEvents{
  padding-right: 10%;
  padding-top: 10px;
  padding-left: 10%;
}

.myDetails{
  background: #f5f5f5;

  img{
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,.2);
  }
}

.userdetails{
  padding-left: 20px;
  padding-right: 20%;

}
