<div fxLayout="row wrap" fxLayoutGap="grid">
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let item of data">
    <mat-card class="mat-elevation-z2 card">
      <!--<mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>Published by {{item.author}}</mat-card-subtitle>
        <img mat-card-avatar src="https://www.adventurealternative.com/media/1789/himalaya-evening.jpg" />
      </mat-card-header>-->
      <img mat-card-image src="https://www.adventurealternative.com/media/1789/himalaya-evening.jpg" />
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>Published by {{item.author}}</mat-card-subtitle>
        <img mat-card-avatar src="https://www.adventurealternative.com/media/1789/himalaya-evening.jpg" />
      </mat-card-header>
      <mat-card-content>
        <p>Voiture disponible: {{item.carAvailable}}</p>
        <p>{{item.description}}</p>
      </mat-card-content>

      <mat-divider></mat-divider>

      <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-actions>
        <!-- open dialog-->
        <div class="noReplyLabel" *ngIf=!isLoggedIn()> Log in to reply to this event </div>
        <button *ngIf=isLoggedIn() mat-button color="primary" (click)="openRespondEventDialog(item.idEvent,item.author)" > Reply</button>
        <!--<button mat-button>Modifier</button>-->
      </mat-card-actions>
    </div>
    </mat-card>
  </div>
</div>
