<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of data">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://www.adventurealternative.com/media/1789/himalaya-evening.jpg" />
      <mat-card-content>
        <p>{{item.description}}</p>
        <p>Voiture disponible: {{item.carAvailable}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Repondre</button> <button mat-button>Modifier</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
